body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Dropdown settings*/
.dropdown-menu > li > .dropdown-menu-item {
    clear: both;
    color: #333;
    display: block;
    padding: 3px 20px;
    white-space: nowrap;
    margin: 5px 0;
    width: 100%;
    text-align: left;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
}

.dropdown-menu > li:hover .dropdown-menu-item,
.dropdown-menu > li:focus .dropdown-menu-item {
    background-color: #f5f5f5;
    color: #262625;
}

.dropdown-menu > li > .dropdown-menu-item.checkbox {
    margin: 0;
    font-weight: normal;
}

    .dropdown-menu > li > .dropdown-menu-item.checkbox input {
        display: none;
    }

.ind-dropdown {
    width: auto;
    height: auto;
}



article.accordion {
    display: block;
    width: 43em;
    margin: 0 auto;
    background-color: #666;
    overflow: auto;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
}

    article.accordion section {
        position: relative;
        display: block;
        float: left;
        width: 2em;
        height: 12em;
        margin: 0.5em 0.5em 0.5em;
        color: #333;
        background-color: #333;
        overflow: hidden;
        border-radius: 3px;
    }

        article.accordion section h2 {
            position: absolute;
            font-size: 1em;
            font-weight: bold;
            width: 12em;
            height: 2em;
            top: 12em;
            left: 0;
            text-indent: 1em;
            padding: 0;
            margin: 0;
            color: #ddd;
            -webkit-transform-origin: 0 0;
            -moz-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            -o-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }

            article.accordion section h2 a {
                display: block;
                width: 100%;
                line-height: 2em;
                text-decoration: none;
                color: inherit;
                outline: 0 none;
            }

        article.accordion section:target {
            width: 20em;
            padding: 0 1em;
            color: #333;
            background-color: #fff;
        }

            article.accordion section:target h2 {
                position: static;
                font-size: 1.3em;
                text-indent: 0;
                color: #333;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }

        article.accordion section,
        article.accordion section h2 {
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -ms-transition: all 1s ease;
            -o-transition: all 1s ease;
            transition: all 1s ease;
        }


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


p:not(:last-child) {
    margin: 0 0 20px;
}

main {
    max-width: 800px;
    padding: 40px;
    border: 1px solid rgba(0,0,0,.2);
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #abc;
}

input {
    display: none;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #abc;
    border: 1px solid transparent;
}

    label:before {
        font-family: fontawesome;
        font-weight: normal;
        margin-right: 10px;
    }

    label[for*='1']:before {
        content: '\f0c3';
    }

    label[for*='2']:before {
        content: '\f043';
    }

    label[for*='3']:before {
        content: '\f16c';
    }

    label[for*='4']:before {
        content: '\f171';
    }

    label[for*='5']:before {
        content: '\f017';
    }

    label:hover {
        color: #789;
        cursor: pointer;
    }

input:checked + label {
    color: #0af;
    border: 1px solid #abc;
    border-top: 2px solid #0af;
    border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
    display: block;
}

@media screen and (max-width: 800px) {
    label {
        font-size: 0;
    }

        label:before {
            margin: 0;
            font-size: 18px;
        }
}

@media screen and (max-width: 500px) {
    label {
        padding: 15px;
    }
}

/* New accordion*/
<style >
.acc-kontainer {
    width: 100%;
    margin: auto;
}

.acc-kontainer .acc-body {
    width: 98%;
    width: calc(100% - 20px);
    margin: 0 auto;
    height: 0;
    color: rgba(0,0,0,0);
    background-color: rgba(255,255,255,0.2);
    line-height: 28px;
    padding: 0 20px;
    box-sizing: border-box;
    transition: 0.5s;
}

.acc-kontainer label {
    cursor: pointer;
    background-color: rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    display: block;
    padding: 15px;
    width: 100%;
    color: #fff;
    font-weight: 400;
    box-sizing: border-box;
    z-index: 100;
}

.acc-kontainer input {
    display: none;
}

.acc-kontainer label:before {
    font-family: 'FontAwesome';
    content: '\f067';
    font-weight: bolder;
    float: right;
}

.acc-kontainer input:checked + label:before {
    font-family: 'FontAwesome';
    content: '\f00d';
    transition: 0.5s;
}

.acc-kontainer input:checked ~ .acc-body {
    height: auto;
    color: #fff;
    font-size: 16px;
    padding: 20px;
    transition: 0.5s;
}

</style >